@import "../base/variables";

.button-toggle-container {
  text-align: center;

  .button-toggle {
    display: inline-block;
    margin: 16px 0;
    padding: 8px 0;
    background-color: $color-primary;
    color: $color-button-text;
    border: solid 1px $color-primary;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      opacity: 0.85;
    }
    span {
      padding: 10px;
    }
  }
}
