@import "../base/variables";

footer {
  background-color: $color-primary;
  text-align: center;

  .copyright {
    display: inline-block;
    font-size: 0.75rem;
    margin-top: 15px;
    color: $color-secondary;
  }
}
