@import "../base/variables";

footer {
  background-color: $color-primary;
  text-align: center;

  .copyright {
    display: inline-block;
    font-size: 0.75rem;
    margin: 14.5px auto;
    color: $color-secondary;
  }
}
