.list-item-modal {
  &__container {
    padding: 0 10px 10px;
  }

  .sender {
    margin-bottom: $medium;
    padding-bottom: 2px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid $color-text;
  }
}
