@import "../base/variables";

.home {
  margin-top: 120px;
  margin-bottom: 30px;
  background-color: $color-secondary;
  overflow: hidden;

  .welcome-view {
    &__message {
      margin: 30px auto;
      color: $color-text;
    }
    &__image-container {
      width: 80%;
      margin: 55px auto;
    }
  }
}
